/******w**************
    
    Assignment 4
    Name: Samuel Oyedeji
    Date: 2024-06-30
    Description: Air Quality Data 

*********************/
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

form button:hover {
    background-color: #0056b3;
}

#download-csv-button {
    display: block;
    margin: 20px auto 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

#download-csv-button:hover {
    background-color: #218838;
}

#loading-indicator {
    text-align: center;
    font-size: 18px;
    color: #007BFF;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}


